<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET"/>


    <application
        android:name=".AndroidBackGround.Client.SessionContext"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Sport-life"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportLife">




        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme_SportLife_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.ActivityLogin"
            android:exported="true" >


        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.MainActivity"
            android:exported="true">

        </activity>


        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.ActivityHome"
            android:exported="true" >

        </activity>
        <activity android:name=".Activity.ActivityEditName"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.ActivityFavorites"
            android:exported="true">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:exported="true"
            android:name=".Activity.ActivityFavouriteDetails"
            >
        </activity>


        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.ActivityLevel"
            android:exported="true" >
        </activity>



        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.ActivityMuscle"
            android:exported="true" >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.ActivityInventory"
            android:exported="true" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:exported="true"
            android:name=".Activity.ActivityResult">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:exported="true"
            android:name=".Activity.ActivityExerciseDetail"
            >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.ActivityProfile"
            android:exported="true" >
        </activity>
        <activity android:name=".Activity.ActivityEditAvatar"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>





    </application>

</manifest>